
@{
    ViewBag.Title = "Index";
}

<h2>Index Page</h2>
<h5>This WebAPI Assignment is created by Saurabh singh</h5>
<h1>Features of This assignment</h1>
<ul>
    <li>Multitier</li>
    <li>Dependency Resolver with Unity.Webapi</li>
    <li>Use of AutoMapper</li>
    <li>Use of IHttpActinResult</li>
    <li>All APIs is authenticated by username and password</li>
    <ul>
        <li>UserName : "Saurabh" </li>
        <li>UserPassword : "123456" </li>
    </ul>
    <li>Attribute Routing</li>
    <li>DB script is included</li>
    <li>Postman collection is included</li>
</ul>

