<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
                aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login.html">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" [routerLink]="['/company/list']">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Data manipulation</div>
                    <a class="nav-link" [routerLink]="['/company/list']">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        List
                    </a>
                    <a class="nav-link" [routerLink]="['/company/add']">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Create
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Created By:</div>
                Saurabh Singh
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Dashboard</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Company Details
                    </div>
                    <div class="card-body">
                        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" formControlName="email" required class="form-control" id="inputEmail4"
                                        placeholder="Email">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Name</label>
                                    <input type="text" formControlName="name" required class="form-control" id="inputPassword4"
                                        placeholder="Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputCity">total employee</label>
                                    <input type="number" placeholder="total employee" required formControlName="totalEmployee" class="form-control" id="inputCity">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" formControlName="isCompanyActive" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                            Is Active
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="number" formControlName="totalBranch" required placeholder="total branch" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" formControlName="address" required class="form-control" id="inputAddress"
                                    placeholder="1234 Main St">
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-success" [disabled]="!companyForm.valid">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>