USE [master]
GO
/****** Object:  Database [Hotel Management System]    Script Date: 13-01-2021 02:25:02 PM ******/
CREATE DATABASE [Hotel Management System] ON  PRIMARY 
( NAME = N'Hotel Management System', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Hotel Management System.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hotel Management System_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Hotel Management System_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel Management System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel Management System]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 13-01-2021 02:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[BookingDate] [datetime] NULL,
	[BookingStatus] [nvarchar](25) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 13-01-2021 02:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HotelName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[Pincode] [numeric](18, 0) NOT NULL,
	[ContactNo] [bigint] NOT NULL,
	[ContactPerson] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[Facebook] [nvarchar](50) NULL,
	[Twitter] [nvarchar](50) NULL,
	[IsActive] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 13-01-2021 02:25:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomName] [nvarchar](50) NOT NULL,
	[RoomCategory] [nvarchar](50) NOT NULL,
	[RoomPrice] [numeric](18, 0) NOT NULL,
	[IsActive] [char](1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[HotelId] [int] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [RoomId], [BookingDate], [BookingStatus]) VALUES (1, 3, CAST(N'2020-04-12T00:00:00.000' AS DateTime), N'Cancelled')
INSERT [dbo].[Bookings] ([Id], [RoomId], [BookingDate], [BookingStatus]) VALUES (2, 6, CAST(N'2020-05-12T00:00:00.000' AS DateTime), N'Definitive')
INSERT [dbo].[Bookings] ([Id], [RoomId], [BookingDate], [BookingStatus]) VALUES (3, 5, CAST(N'2020-10-12T00:00:00.000' AS DateTime), N'Deleted')
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([Id], [HotelName], [Address], [City], [Pincode], [ContactNo], [ContactPerson], [Website], [Facebook], [Twitter], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (2, N'Rama Hotel', N'Navsari', N'Navsari', CAST(396450 AS Numeric(18, 0)), 9621221615, N'Saurabh Singh', N'ramaHotel.com', N'Rama hotel', N'Rama hotel', N'Y', CAST(N'2020-12-12T00:00:00.000' AS DateTime), N'Raman', NULL, NULL)
INSERT [dbo].[Hotels] ([Id], [HotelName], [Address], [City], [Pincode], [ContactNo], [ContactPerson], [Website], [Facebook], [Twitter], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (3, N'Hotel Kohinoor', N'Navsari', N'Navsari', CAST(396450 AS Numeric(18, 0)), 9621221615, N'Rohit Dwivedi', N'KohinoorHotel.com', N'Kohinoor Hotel', N'Kohinoor Hotel', N'Y', CAST(N'2020-12-12T00:00:00.000' AS DateTime), N'Rajan', NULL, NULL)
INSERT [dbo].[Hotels] ([Id], [HotelName], [Address], [City], [Pincode], [ContactNo], [ContactPerson], [Website], [Facebook], [Twitter], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (4, N'Juhu Hotel', N'Navsari', N'Navsari', CAST(396450 AS Numeric(18, 0)), 9621221615, N'Raju Singh', N'Juhu.com', N'Juhu hotel', N'Juhu hotel', N'Y', CAST(N'2021-01-11T14:30:29.407' AS DateTime), N'Raju', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [RoomName], [RoomCategory], [RoomPrice], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [HotelId]) VALUES (1, N'Sweet', N'size 36-50 m2', CAST(10000 AS Numeric(18, 0)), N'Y', CAST(N'2021-01-11T15:21:52.260' AS DateTime), N'Raju', NULL, NULL, 2)
INSERT [dbo].[Rooms] ([Id], [RoomName], [RoomCategory], [RoomPrice], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [HotelId]) VALUES (2, N'KING SIZE ROOM', N'size 51-100 m2', CAST(100000 AS Numeric(18, 0)), N'Y', CAST(N'2021-01-11T15:23:16.227' AS DateTime), N'Raju', NULL, NULL, 2)
INSERT [dbo].[Rooms] ([Id], [RoomName], [RoomCategory], [RoomPrice], [IsActive], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [HotelId]) VALUES (3, N'Single Bed Room', N'size <35 m2', CAST(5000 AS Numeric(18, 0)), N'Y', CAST(N'2021-01-11T15:24:38.317' AS DateTime), N'Raju', NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotels] ([Id])
GO
USE [master]
GO
